<div id="register">
	<center><h1>Register</h1></center>
	<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="user[name]"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" name="user[email]"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="user[password]"></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" name="user[password_confirmation]"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</table>
	</form>
</div>

<div id="login">
	<center><h1>Login</h1></center>
	<form action="/sessions" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<table>
			<tr>
				<td>Email</td>
				<td><input type="email" name="email"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</table>
	</form>
</div>
